<%init>
    my $bandname = 'Reuben Bradley';
</%init>
    <div class="row">
        <div class="span8">
             <h1><% $bandname %></h1>
        </div>
    </div>
    <div class="row">

        <div class="span6">
    		    <div class="span4">
                    <img src="<% $c->uri_for('/static/images/Reuben-muso.jpg')%>" 
            		alt="Photo of <% $bandname %>" />
        		</div>
                <div class="span4">
                    <h2>Genre</h2>
                    Alternative, Country, Punk
                    
                </div>
                <div class="span4">
                    <h2>Founded</h2>
                    2005
                    
                </div>
                <div class="span4">
                    <h2>Home Town</h2>
                    Springfield, ST
                    
                </div>
            
        </div>
        <div class="span6">
       		<iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23bbbbbb&amp;src=gigsandmore%40gmail.com&amp;color=%232952A3&amp;ctz=Pacific%2FAuckland" style=" border-width:0 " width="400" height="300" frameborder="0" scrolling="no"></iframe>
            
        </div>
    </div>

