<%args>
    $bandname => ''
</%args>

    <div class="row">
        <div class="span8">
            not really the <h1><% $bandname %></h1>
        </div>
        <div class="span4">
            <img src="http://placekitten.com/200/200" 
            alt="Photo of <% $bandname %>" />
            
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2>Genre</h2>
            Alternative, Country, Punk
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2>Founded</h2>
            2005
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2>Home Town</h2>
            Springfield, ST
        </div>
    </div>

