<%args>
    $bandname => ''
</%args>

    <div class="row">
        <div class="span8">
             <h1><% $bandname %></h1>(not really)
        </div>
        <div class="span4">
            <img src="http://placekitten.com/300/200" 
            alt="Photo of <% $bandname %>" />
            
        </div>
		<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=gigsandmore%40gmail.com&amp;color=%232952A3&amp;ctz=Pacific%2FAuckland" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

    <div class="row">
        <div class="span12">
            <h2>Genre</h2>
            Alternative, Country, Punk
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2>Founded</h2>
            2005
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2>Home Town</h2>
            Springfield, ST
        </div>
    </div>

