<%args>
    $active => undef
    $get_string => ''
    $corporate => undef
    $artist => undef
</%args>
<%init>
</%init>

 <div class="hero-unit">
 		<div style="float:right;width:340px;">
<div id="myCarousel" class="carousel slide bandphoto" style="width:350px;">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<img src="<%$c->uri_for('/static/images/l.jpg')%>" />
    </div>
    <div class="item">
    	<img src="<%$c->uri_for('/static/images/bensons2__fit.jpg')%>" />
    </div>
    <div class="item">
    	<img src="<%$c->uri_for('/static/images/flautist.jpg')%>" />
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
 		<!-- <img src="<% $c->uri_for('/static/images/bensons2__full.jpg') %>" /> -->
 		</div>
        <img src="<% $c->uri_for('/static/images/logo.png') %>" style="width:300px;padding-top:30px;" />
        <!-- <h2>Coming soon, to a venue near you...</h2> -->
        <p>Your one stop shop for connecting local music communities to promote growth and sustainability.</p>
        <p><a class="btn btn-primary btn-large" href="<% $c->uri_for('/info').$get_string %>">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Venues</h2>
           <p>
           	<ul>
           	 <li>Get connected to musicians and potential customers nationwide</li>
           	 <li>Create profile and post gigs in the main event calendar</li>
           	 <li>Browse musician’s calendars for availability and book for gigs</li>
           	 <li>Save time and money on marketing to draw customers</li>
            </ul>
           </p>
           <p><a class="btn" href="<% $c->uri_for('/gigfind').$get_string %>">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Bands</h2>
           <p>
           	<ul>
           	 <li>Connect with venues, fans and other musicians nationwide</li>
           	 <li>Create your free profile and calendar, including online press kit</li>
           	 <li>Gain access to a nationwide calendar of events and available venues</li>
           	 <li>Apply for gigs or plan your tour</li>
            </ul>
           </p>
           <p><a class="btn" href="<% $c->uri_for('/bands/genre').$get_string %>">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Music Fans</h2>
           <p>
           	<ul>
           	 <li>Get connected to musicians, venues, events</li>
           	 <li>Build your free profile to connect to other likeminded music fans</li>
           	 <li>Find gigs and musicians/venues availability through calendars</li>
           	 <li>Check up on news and blogs from the industry and musicians</li>
            </ul>
           </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>


        


